.pcontent{
    /* background-color: beige; */
    width: 614px;
    height: 100%;
}
.sbcontent{
    /* background-color: azure; */
    width: 293px;
    height: 100%;
}
.sidebar{
    margin-top: 34px;
    height: 450px;
    width: 100%;
    /* border: 1px solid #DBDBDB; */
}