@import "home/elements/home.css";
@import "home/elements/header.css"; 
@import "home/elements/stories.css";
@import "home/elements/posts.css";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: auto;
    margin: auto;
    align-content: center;
    background-color: #FAFAFA;
}
.main-div{
    /* background-color: aqua; */
    margin: auto;
    margin-top: 60px;
    height: 2000px;
    width: 935px;
    display: flex;
    justify-content: center;
}
